body {
	font: 16px / 1.5 sans-serif
}

.container {
	width: 800px;
	margin: 0 auto
}

pre {
	color: #333;
	margin: 0 20px 0 0
}

form {
	padding-bottom: 10px
}

.section {
	display: inline-block;
	vertical-align: top;
	background: #f9f9f9;
	padding: 20px;
	border: 1px dashed
}

.form-group {
	margin-bottom: 10px
}

.error {
	color: red
}

.success {
	color: green
}